<header class="detail">
  <section class="general">
    <div>
      <div class="panel">
          <div class="panel-heading">
              <h3>Add a new comment</h3>
          </div>
          <div class="panel-body">
              <div class="alert alert-danger" data-ng-bind="error" data-ng-show="error"></div>
              <form novalidate name="commentForm" class="css-form">
                  <fieldset>
                      <div class="form-comment">
                          <label for="content" class="control-label">Content</label>
                          <textarea type="text" class="form-control" id="content"
                                    data-ng-model="category.content" required name="content" placeholder="" rows="4" cols="50">
                          </textarea>
                      </div>
                  </fieldset>
                  <div class="btn-toolbar">
                      <button class="btn btn-primary" data-ng-click="save()"
                              data-ng-disabled="commentForm.$invalid">Save
                      </button>
                      <a href="#/" class="btn btn-default">Cancel</a>
                  </div>
              </form>
          </div>
      </div>
    </div>
  </section>
</header>
