<header>
<section id="top6">
<!--<div class="header-content" >-->

    <div class="header-content-inner">
      <h1>Top Restaurants</h1>
      <hr>
      <p>These are the top 6 restaurants in Graz!</p>
      <div class="container-fluid">
        <div class="row no-gutter">
          <div class="col-lg-4 col-sm-6">
            <a href="#" class="portfolio-box">
              <img src="images/portfolio/1.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a href="#" class="portfolio-box">
              <img src="images/portfolio/2.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a href="#" class="portfolio-box">
              <img src="images/portfolio/3.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a href="#" class="portfolio-box">
              <img src="images/portfolio/4.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a href="#" class="portfolio-box">
              <img src="images/portfolio/5.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a href="#" class="portfolio-box">
              <img src="images/portfolio/6.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>


    <!--</div>-->
  </div>
  </section>
</header>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services we offer...</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <!-- glyphicon glyphicon-search-->

          <i class="fa fa-4x fa-search wow bounceIn text-primary"></i>
          <h3>Find a restaurant</h3>
          <p class="text-muted">Find a restaurant according to categories and location.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-download wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Download the menu of a restaurant</h3>
          <p class="text-muted">You can see and download the menu of a specific restaurant!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Find the location</h3>
          <p class="text-muted">You can see the location of the restaurants in Google Maps.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-comment wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Rate & comment</h3>
          <p class="text-muted">As a guest you can see the ratings and comments of a restaurant and as user you can give your own feedback.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="images/portfolio/1.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="images/portfolio/2.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="images/portfolio/3.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="images/portfolio/4.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="images/portfolio/5.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="images/portfolio/6.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>


<section id="login" data-is-not-authenticated>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Sign in</h2>
        <hr class="primary">
      </div>

      <!-- Sign in form -->
      <div class="container" >
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="panel panel-info" >
            <div class="panel-heading">
              <div class="panel-title">Sign In</div>
            </div>

            <div style="padding-top:30px" class="panel-body" data-ng-controller="SigninCtrl" >

              <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

              <form id="loginform" class="form-horizontal" role="form" name="singInForm">
                <!-- Email -->
                <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input data-ng-model="signInInfo.email" id="email" type="email" class="form-control" name="email" value="" placeholder="username or email" required/>
                  <!--
                  <div ng-show="singInForm.email.$invalid && signInForm.email.$touched">
                    <span ng-show="signInForm.email.$error.required">Please insert your email.</span>
                    <span ng-show="signInForm.email.$error.email">This is not a valid email.</span>
                  </div> -->
                </div>
                <!-- Password -->
                <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input data-ng-model="signInInfo.password" id="password" type="password" class="form-control" name="password" placeholder="password" required/>
                  <!--
                  <div ng-show="signInForm.password.$invalid && signInForm.password.$touched">
                    <span ng-show="signInForm.password.$error.required">Please select a password.</span>
                  </div> -->
                </div>
                <!-- Remember me -->
                <div class="input-group">
                  <div class="checkbox">
                    <label>
                      <input data-ng-model="signInInfo.rememberMe" id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                    </label>
                  </div>
                </div>

                <div style="margin-top:10px" class="form-group">
                  <!--Submit login button -->
                  <div class="col-sm-12 controls">
                    <button id="btn-login" type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signIn()">Login </button>

                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12 control">
                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                      Don't have an account!
                      <a href="#/signUp">
                        Sign Up Here
                      </a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Sign in form ende -->

    </div>
  </div>
</section>

<!--footer-->
<div class="footer-section">
  <div class="text-muted">
    <p>&copy; 2016 SWENGS Project All rights reserved | Developed by IMA 2013 Students</p>
  </div>
</div>

<!-- jQuery -->
<!--
<script src="js/jquery.js"></script>
-->

<!-- Bootstrap Core JavaScript -->
<!--
<script src="js/bootstrap.min.js"></script>
-->

<!-- Plugin JavaScript -->
<!--
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>
-->

<!-- Custom Theme JavaScript -->
<!--
<script src="js/creative.js"></script>
-->
