<header class="detail">
    <section class="general">
        Search: <input ng-model="query" placeholder="Please, enter at least two characters!" size="50">
        <table class="table table-bordered ">
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>Street</th>
                <th>City</th>
                <th>ZIP</th>
            </tr>

            <tr data-ng-repeat="restaurant in restaurants | filter:query">
                <td><a href="#/restaurantDetails?restId={{restaurant.id}}">{{restaurant.name}}</a></td>
                <td>{{restaurant.rating}}</td>
                <td>{{restaurant.street}}</td>
                <td>{{restaurant.city}}</td>
                <td>{{restaurant.zip}}</td>
            </tr>
        </table>
    </section>
</header>