<div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">Sign Up</div>
      <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
    </div>
    <!--< class="panel-body" >
      < id="signupform" class="form-horizontal" role="form">-->

        <div id="signupalert" style="display:none" class="alert alert-danger">
          <p>Error:</p>
          <span></span>
        </div>

        <div class="form-group">
          <label for="email" class="col-md-3 control-label">Email</label>
          <div class="col-md-9">
            <input data-ng-model="email" type="email" class="form-control" id="email" name="email" placeholder="Email Address">
            <div ng-show="signUpForm.email.$invalid && signUpForm.email.$touched">Please insert insert a valid E-Mail address.</div>
              <span ng-show="signUpForm.email.$error.required">Please enter your E-Mail address.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="firstname" class="col-md-3 control-label">Firstname</label>
          <div class="col-md-9">
            <input data-ng-model="firstname" type="firstname" class="form-control" id="firstname" name="firstname" placeholder="Firstname">
            <div ng-show="signUpForm.firstname.$invalid && signUpForm.firstname.$touched">Please insert your firstname.</div>
              <span ng-show="signUpForm.firstname.$error.required">Please enter your firstname.</span>
          </div>

        </div>
        <div class="form-group">
          <label for="lastname" class="col-md-3 control-label">Lastname</label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Lastname" required>
            <div ng-show="signUpForm.lastname.$invalid && signUpForm.lastname.$touched">Please insert your lastname.</div>
              <span ng-show="signUpForm.lastname.$error.required">Please enter your lastname.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-md-3 control-label">Password</label>
          <div class="col-md-9">
            <input data-ng-model="signUpInfo.password" name="password" name="password" type="password" class="form-control" id="password" placeholder="Password" required/>
            <div ng-show="signUpForm.password.$invalid && signUpForm.password.$touched">
              <span ng-show="signUpForm.password.$error.required">Please select a password.</span>
          </div>
        </div>

          <div class="form-group">
            <label for="password2">Re-type your Password *</label>
            <input data-ng-model="password2" type="password" class="form-control" id="password2" name="password2" placeholder="re-type Password" required must-match="signUpInfo.password"/>
            <div ng-show="signUpForm.password2.$invalid && signUpForm.password2.$touched">
              <span ng-show="signUpForm.password2.$error.required">Please re-type your password.</span>
              <span ng-show="signUpForm.password2.$error.mustMatch">Make sure that you re-type your password correctly.</span>
            </div>
          </div>

        <div class="form-group">

          <!-- Button -->
          <div class="col-md-offset-3 col-md-9">
            <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
