<header class="detail">
  <section class="general">
      <form novalidate name="commentForm" class="css-form" data-is-authenticated>
          <fieldset>
        <textarea type="text" class="form-control" id="content"
                  data-ng-model="comment.content" required name="content" placeholder="" rows="4" cols="50">
        </textarea>
          </fieldset>
          <div class="btn-toolbar">
              <button class="btn btn-primary" data-ng-click="updateComment()"
                      data-ng-disabled="commentForm.$invalid">Update
              </button>
              <a href="#/" class="btn btn-default">Cancel</a>
          </div>
      </form>
  </section>
</header>
